
@{
    ViewBag.Title = "Register";
}

<div class="breadcrumb">
    <a class="cate" href="">Đăng ký</a>
    <
</div>
<div id="register__container">

    <label for="r1" id="fn">Full Name :</label>
    <input type="text" name="fname" id="r1"><br />

    <label for="r3" id="un">Username :</label>
    <input type="text" name="uname" id="r2"><br />

    &nbsp;<label for="r4" id="pwd">Password :</label>
    <input type="password" name="pass" id="r3"><br />

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="r5" id="em">Email :</label>
    <input type="text" name="email" id="r4"><br />

    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button type="submit" id="register">Đăng ký</button>
            </div>
    </div>

</div>

